@import '@scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: $white-color;
  opacity: 0.7;
  position: absolute;
  z-index: 9999;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;

    &__loading {
      position: relative;
      width: 300px;
      height: 300px;

      &-title {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
      }

      &-spiner {
        width: 100%;
        height: 100%;
      }
    }
  }
}
