@import "@scss";

.container {
  width: 100%;
  height: $navbar-size;
  background: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  margin-bottom: $navbar-size;

  &__content {
    width: 100%;
    height: inherit;

    &-logo {
      width: 140px;
      height: 70px;
      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    &__right {
      width: auto;
      height: auto;

      &-options {
        ul {
          list-style: none;

          li {
            display: inline;
            margin: 0px 1rem;
            cursor: pointer;
            position: relative;

            img {
              position: absolute;
              width: 25px;
              height: 25px;
              cursor: pointer;
              // padding-top: 5px;
            }
          }
        }
      }

      &-settings {
        width: 35px;
        height: auto;
        margin: 0 1rem;
        background: $white-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;

        p {
          font-weight: 600;
        }
      }
    }
  }
}
