@import "@scss";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 450px;
    height: 370px;
    border-radius: 10px;
    // border: 1.5px solid $primary_color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 40px 40px 0px 40px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0 3px 10px $primary-color !important;
    min-height: 344px !important;
    padding: 40px;

    &__form {
      width: 90%;
      min-width: 33px;
      // min-width: 450px;
      // max-width: 460px;

      &__logo {
        width: 100%;
        height: 65px;
        margin-bottom: 10px;
        margin-top: 20px;

        img {
          width: 100%;
          height: 65px;
          object-fit: cover;
        }
      }

      &__label {
        width: 100%;
        display: flex;
        justify-content: flex-start;
      }

      input {
        width: 100%;
        margin-bottom: 20px;
        height: 40px;
        border: 0.0625rem solid rgb(229, 229, 229);
      }

      span {
        font-size: 12px;
        color: rgb(118, 118, 118);
        float: left;
        margin-bottom: 5px;
      }
    }
  }
}
