@import "@scss";

.container {
  width: 100%;
  height: 80vh;
  margin-top: calc($navbar-size + 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__buttons {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;

    // button {
    //   width: 150px;
    //   min-width: 100px;
    //   padding: 10px;
    //   font-size: $medium-letter;
    //   // border: 1px solid $primary-color;
    // }
  }

  h1 {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
