$primary-color: #131e60;
$secondary-color: #C8003C;
$third-color: #6c63ff;
$white-color: white;
$grey-color: #9c9c9c;
$grey-light-color: #fafafa;
$grey-extra-light-color: #e0e0e0;
$error-color: red;
$warning-color: #ffa513;
$alternative-input-color: #eff0f6;
$grey-icon-color: #464444;

$medium-letter: 14px;
$small-letter: 12px;
$title-letter: 30px;

$navbar-size: 70px;

body {
  background-color: #fafafa;
}

.error-message {
  color: $error-color;
  font-size: $small-letter;
}

.label-input {
  display: block;
  color: $grey-color;
  font-size: $small-letter;
  margin-bottom: 10px;
}

.disable {
  background: $grey-color;
  cursor: none;
}

.alert-container-animation {
  z-index: 100;
  position: relative;
}

.flex {
  display: flex;

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &-y-center {
    display: flex;
    align-items: center;
  }

  &-x-center {
    display: flex;
    justify-content: center;
  }

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.text {
  &-center {
    text-align: center;
  }
}

.border-error {
  border: 1px solid $error-color !important;
}

.hide {
  display: none;
  visibility: 0;
}

.triangle {
  position: absolute;
  cursor: pointer;
  bottom: 0.7rem;
  right: 2px;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 14px 9px 0 9px;
  border-color: $primary-color transparent transparent transparent;
}

.limit-container {
  margin: 0 auto;
  max-width: 1250px;
}

@for $i from 0 through 100 {
  .mt-#{$i} {
    margin-top: $i * 1px;
  }

  .mb-#{$i} {
    margin-bottom: $i * 1px;
  }

  .ml-#{$i} {
    margin-left: $i * 1px;
  }

  .mr-#{$i} {
    margin-right: $i * 1px;
  }

  $i: $i + 5;
}

.disable-stepper {
  background-color: $grey-extra-light-color !important;
}

.invisible {
  display: none;
}

.disable-tab {
  color: $grey-color !important;
  border-bottom: 2px solid $grey-color !important;
}

.flow-vertically {
  flex-direction: column !important;
}

.flex-horizontal {
  flex-direction: row !important;
}

.hidden {
  visibility: hidden !important;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}

.color-loader {
  border-left-color: $secondary-color !important;
}

.tab-activated {
  background: $white-color;
  color: $primary-color;
  padding: 5px;
  border-radius: 5px;
}

.global-shadow {
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

input {
  padding: 10px;
  outline: none;
  font-size: $medium-letter;
}

button {
  min-width: 100px;
  padding: 10px;
  font-size: $medium-letter;
  border: 1px solid $primary-color;
}

.center {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-enable {
  color: white;
  font-weight: bold;
  background: $secondary-color;
  border-radius: 0.1875rem;
  box-shadow: rgb(0 0 0 / 7%) 0px 0.1875rem 0.25rem;
  border: none;
  cursor: pointer;
  transition: 0.5s all;

  &:hover {
    opacity: 0.8;
  }
}

.btn-disable {
  color: white !important;
  background-color: #76767646;
  border: none;
}
